.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.directory-list {

}

button {
  background-color:#5469d4;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 7px 14px;
}
button:hover {
  background-color: #5469d4;
}

button:disabled{
  background-color: grey;
}

.left {
  float: left;
  width: 30%;
}
.right {
  float: left;
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.folder-view {
  min-height: 300px;
  background-color: blanchedalmond;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
}